.sub{position:relative;width: 300px;margin-top:0;display: flex;flex-direction: column;align-items: center;justify-content: center;border: 2px solid #000;}
.sub-btn,.sub-button{width: 30px;height: 30px;border:none; border-radius: 50%;display:grid;place-content: center;outline:0;padding:0;vertical-align:center;overflow:hidden;text-decoration:none;
	color:#FFF;background-color:#000;border: 2px solid #000;text-align:right;cursor:pointer;white-space:nowrap}
.sub-btn,.sub-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;
	user-select:none} 
.sub-disabled,.sub-btn:disabled,.sub-button:disabled{cursor:not-allowed;opacity:0.3}.sub-disabled *,:disabled *{pointer-events:none}
.sub-bar-block .sub-dropdown-hover .sub-button,.sub-bar-block .sub-dropdown-click .sub-button{width:100%;text-align:right;padding:8px 16px}
p.solid {border-style: solid;}



.sub-content button {
position: absolute;
}

.sub-display-center{
	padding-top:5px ;
	width: 100px;
	height: 50px;
}
.sub-display-center img{
	width: inherit;
	height: inherit;
	object-fit: cover !important;
	object-position: 50% 50%;
}
.mySlides{
	width:300px;
	height:auto;
	object-fit: contain;
	object-position: center;
}

.sub-display-right {position: absolute;right:1rem; top:1rem;}
.sub-display-left {position: absolute;left:1rem; top: 1rem;}

.images{
	position: relative;
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content:  flex-start;
	overflow: hidden;
}